<section data-ng-controller="HomeController">
    <div class="container">
        <div class="heading col-xs-12">
            <h2>Team Picker</h2>
            <p>Can't decide on who to pick?</p>
        </div>


        <div class="col-xs-12">
            <div class="alert alert-warning" ng-model="errorText" ng-show="errorText">{{errorText}}</div>
        </div>

        <div class="col-xs-12" ng-controller="TeamPickerController">
            <form ng-submit="splitPlayers()">
                <textarea class="col-lg-12" ng-model="playerNames" required placeholder="One player per line..."></textarea>

                <input class="btn btn-lg btn-primary" id="split-teams" type="submit" value="Split em up!" />
                <span team-counter id="team-counter"></span>
            </form>
            <div ng-show="teamOne.length && teamTwo.length" class="teams">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <h3 class="panel-title">Red Team</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="player in teamOne">
                                        <img ng-src="/modules/core/img/red-shirt.png" alt="Reds">{{player}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-md-6">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Blue Team</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="player in teamTwo">
                                        <img ng-src="/modules/core/img/blue-shirt.png" alt="Blues">{{player}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>