<section data-ng-controller="MatchesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Matches</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="match in matches" data-ng-href="#!/matches/{{match._id}}" class="list-group-item">
            <small class="list-group-item-text">{{match.created | date:'medium'}} / {{match.user.displayName}}</small>
            <h4 class="list-group-item-heading">{{match.name}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!matches.$resolved || matches.length">
    	No Matches yet, why don't you <a href="/#!/matches/create">create one</a>?
    </div>
</section>